.blok1Realisaties{
  margin-top: 25vw;
  text-align: center;
  margin-bottom: 25vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.blok1Realisaties > h2 {
  margin-bottom: 3vw;
}

.realisatieTitel{
  font-size: 1.1vw;
  margin-top: 2vw;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateX( 180deg);
}

.cardBox > .card {
  background: #22502A;
  background: url("../../assets/img/treeCard.jpg");
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 20px;
  border-style: none;
}

.cardBox > .card > .front > h3{
  margin-top: 1.5vw;
}

.logoFlip{
  margin-top:1vw;
  width: 4vw;
}

.cardBox > .card .front,
.cardBox > .card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}

.cardBox > .card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.cardBox > .card .back {
  transform: rotateX( 180deg);
}

.cardBox > .card >.back {
  background: var(--primaryGreen);

}

.back > p{
    padding-top: 15%;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}



/*blok2, de rest staat in het scss file*/




.blok2Realisaties{
  margin-bottom: 10vw;
}

.blok2RealisatiesH2Container{
  text-align: center;
}



@media screen and (max-width: 1025px){
  .blok1Realisaties{
    margin-bottom: 35vw;
  }

  .blok2Realisaties{
    margin-top: 50vw;
  }

  .beheerBtn3{
    margin-top: 10vw;
  }
}


@media screen and (max-width: 769px) {
  .blok1Realisaties{
    margin-bottom: 50vw;
  }

  .blok2Realisaties{
    margin-top: 120vw;
  }

  .blok2RealisatiesH2Container{
    margin-bottom: 10vw;
  }

  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}


@media screen and (max-width: 568px){
  .blok1Realisaties{
    margin-top: 80vw;
  }

  .blok2Realisaties{
    margin-top: 380vw;
  }

  .cardContainer{
    padding-left: 7.5vw  !important;
  }
}


@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}





