.blok1contact{
  margin-bottom: 25vw;
}

.backgroundGreen2{
  height: 27vw;
}

.forest6Container{
  text-align: center;
  margin-top: -13vw;
  margin-bottom: 10vw;
}

.forest6{
  width: 40vw;
  border-radius: 50px;
}
