:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}

.golfGrijs2{
  height: 25rem;
}

.callToActionHeader2Container{
  text-align: center;
  margin-top: -22vw;
  padding-left: 10vw;
  padding-right: 10vw;
  letter-spacing: 1px;
}

.callToActionHeader2{
    color: var(--background);
    font-size: 1.4vw;
}

.callToActionHeader2 > span{
  font-size: 1.7vw;
  color: white;
}



/*blok1hoe*/

.blok1hoeText{
  text-align: center;
}

.blok1hoeText > h2{
  margin-bottom: 3vw;
}

.blok1hoeText > h4{
  padding-left: 10vw;
  padding-right: 10vw;
}

.container{
  margin-top: -25vw;
}

.radius-15 {
  border-radius: 15px;
  background-color: var(--primaryGreen);
  height: 250px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-style: none;
  border-radius: 50px;
  margin-bottom: 1.5rem;
  background-color: #2F6C3A;
  color: var(--background);
  height: 285px;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}



/*blok2*/


.blok2hoe{
  margin-top: 10vw
}

.blobContainerHoe1 > img{
  height: 24.75vw;
  width: 33vw;
  position: relative;
  z-index: 10;
  margin-top: 7vw;
  border-radius: 50px;
  margin-left: 7vw;
}

.blobSVGcontainerHoe1{
  margin-right: 33.497vw;
  text-align: left;
}

#blobInfoHoe1{

  z-index: -10;
  margin-right: 6.83vw;
  height: 40vw;
  width: 40.33vw;
  position: absolute;
  max-height: inherit;
  max-width: inherit;
  box-sizing: border-box;
}


/*blok3*/


.blok3hoe{
  margin-top: 20vw;
  margin-bottom: 10vw;
}


.icon-bar1{
  width: 90%;
  background-color: var(--primaryGreen);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
}


.streefdoelenText{
  margin-top: 7vw;
  text-align: center;
  padding-left: 13vw;
  padding-right: 13vw;
}

.streefdoelenText > h4{
  margin-top: 7vw;
}

.streefdoelenBlobContainer{
  text-align: center;
  z-index: -10;
  margin-top: -175px;
  margin-bottom: 15vw;
}

#steefdoelenBlob{
  moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -10;
  height: 17vw;
  width: 95vw;
  opacity: 30%;
}
