html, body {
  max-width: 100%;
  overflow-x: hidden !important;
}

:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}

.beheerHeader{
  margin-bottom: 15vw;
  max-width: 100%;
}

.headerGroen{
  background-color: var(--primaryGreen);
  height: 30vw;
  margin-top: -10vw;
  max-width: 100%;
}

.golfGrijs{
  margin-top: -5vw;
  max-width: 100%;
}

.headerGrijs{
  max-width: 100%;
  height: 30vw;
  background-color: var(--primaryGrey);
  margin-top: -14vw;
  position: relative;
  z-index: -200;
}

.headerImageContainer{
 text-align: center;
  margin-top: -27vw;
  position: relative;
  z-index: 500;
  max-width: 100%;
}

.headerImage{
  height: 37vw;
  width: 60vw;
  border-radius: 50px;
  border: 25px solid var(--primaryBlue);
}

.heading{
  position: relative;
  z-index: 1000;
  margin-top: -35vw;
  max-width: 100%;
}

.logo-header{
  width: 10vw;
}

.beheerBtn{
  opacity: 100%;
}

.blobCallContainer{
  margin-top: -18vw;
  margin-left: 25vw;
  position: absolute;
  z-index: 500;
}

.blobCall{
  width: 22vw;
}

.actionCall{
  margin-top: -15vw;
  margin-left: 6vw;
}


.actionCall > h2{
  font-size: 2vw;
}

.actionCall > h4{
  font-size: 1.3vw;
  margin-top: 2vw;
}


.actionCall > a {
  margin-top: 3vw;
  border-style: none;
  border-radius: 15px;
  background-color: var(--accent);
  color: var(--primaryBlue);
  width: 10vw;
  font-size: 18px;
  font-weight: 600;
}


/*blok2*/

.blok2beheer{
  text-align: center;
  margin-bottom: 15vw;
  max-width: 100%;
}




/*blok3*/

.blok3beheer{
  max-width: 100%;
}

.blobContainerBeheer1{
  text-align: right;
  max-width: 100% !important;
}

.blobContainerBeheer1 > img{
  height: 30vw;
  width: 22.5vw;
  position: relative;
  z-index: 10;
  margin-top: -45vw;
  margin-right: 11vw;
  border-radius: 50px;
}

#blobInfoBeheer1{
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -10;
  /*height: 40vw;*/
  width: 40.33vw;
  margin-right: -5.4vw;
}



/*blok4*/

.blok4{
  text-align: center;
  margin-bottom: 20vw;
  max-width: 100%;
}

.medeBlobContainer1{
  text-align: left;
  z-index: -10;
  margin-bottom: -28vw;
}

#blobMede1, #blobMede2{
  height: 35vw;
  width: 40vw;
}

/*stijl kaart staat in styles.css*/

.medeContainer{
  padding: 0 5vw 0 5.2vw;
  /*margin-bottom: 100px;*/
  text-align: center;
  width: 100%;
}

.medeCard> img{
  border-radius: 50% 50% 40% 45% / 45% 60% 35% 45%;
  padding: 2vw 2.3vw 2vw 2.3vw;
  width: 25vw;
  margin: 0 auto;
  left: 25%
}

.medeCard > div > p{
  padding: 20px 60px 20px 60px;
}

.medeBlobContainer2{
  text-align: right;
  margin-top: -28vw;
}

#blobMede2{
  moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  z-index: -10;
}

.blok4 > h2{
  margin-top: 6vw;
  margin-bottom: 6vw;
}




/*kleine laptop weergave*/

@media screen and (max-width: 1300px){
  .headerGrijs{
    height: 40vw;
    margin-top: -26vw;
  }

  .headerImage{
    height: 47vw;
    width: 70vw;
    border: 20px solid var(--primaryBlue);
  }
}

/*grote tablet weergave*/

@media screen and (max-width: 1150px){

  #blobInfoBeheer1{
    margin-right: -5vw;
  }
}


@media screen and (max-width: 1125px){
  /*landing*/
  .headerImageContainer{
    margin-top: -37vw;
  }

  .headerGroen{
    height: 45vw;
  }

  .headerGrijs{
    margin-top: -13vw;
    height: 37.5vw;
  }

  .headerImage{
    height: 57vw;
    width: 80vw;
    border: 15px solid var(--primaryBlue);
  }

  .heading{
    margin-top: -50vw;
  }

  .blobCall{
    width: 28vw;
  }

  .blobCallContainer{
    margin-left: 20vw;
    margin-top: -20vw;
  }

  .actionCall{
    margin-top: -20vw;
    margin-left: 7vw;
  }

  .actionCall > h2{
    font-size: 2.5vw;
  }

  .actionCall > h4{
    font-size: 2vw;
    margin-top: 2vw;
  }

  .actionCall > a {
    margin-top: 3vw;
    border-radius: 10px;
    width: 13vw;
    font-size: 2vw;
    font-weight: 600;
  }



  /*//onder de header*/


  /*blok 3 met de blob rechts*/


  #blobInfoBeheer1{
    margin-right: -6vw;
  }
}



@media screen and (max-width: 997px){
  .headerGroen{
    margin-top: -15vw;
  }

  .headerGrijs{
    margin-top: -20vw;
  }

  /*blok4 met de kaarten*/

  .medeCard> img{
    padding: 2vw 2.3vw 2vw 2.3vw;
    width: 65vw;
  }



  /*blok3*/

  .blobContainerBeheer1{
    margin-bottom: 20vw;
    margin-top: 10vw;
  }

  .blobContainerBeheer1 > img{
    height: 80vw;
    width: 62.5vw;
    margin-left: 5vw;
    margin-top: -92.5vw;
  }

  .blok1BeheerInfoContainer{
    width: 90%;
    text-align: center;
  }

  .imageContainerBeheer{
    text-align: center;
  }

  .blok1BeheerInfoContainer > p {
    padding-right: 1vw;
  }

  #blobInfoBeheer1{
    width: 90%;
    height: 90vw;
    margin-right: 0;
  }

  .blobContainerBeheer1 > img{
  }
}

@media screen and (max-width: 769px){

  /*blok4*/



  .blok4{
    margin-top: 40vw;
  }

  .medeCard> img{
    padding: 0;
    width: 60vw;
    margin: 0 auto;
    left: 25%
  }

  .medeCard > div > h4{
    font-size: 4vw;
  }

  .medeCard > div > span{
    font-size: 3vw;
  }

  .medeCard > div > p{
    font-size: 3.5vw;
  }

  #blobMede1, #blobMede2{
    height: 145vw;
    width: 100vw;
  }

  #blobMede1{
    margin-bottom: -100vw;
  }
  #blobMede2{
    margin-top: -110vw;
  }
}


/*//mobiele weergave*/



@media screen and (max-width: 576px) {
  .beheerHeader{
    margin-bottom: 50vw;
  }

  .headerGroen{
    margin-top: -20vw;
    height: 60vw;
  }

  .headerGrijs{
    height: 70vw;
    margin-top: -55vw;
  }

  .headerImage{
    height: 67vw;
    width: 90vw;
    margin-top: 0;
    border: 5px solid var(--primaryBlue);
  }

  .heading{
    position: relative;
    z-index: 1000;
    margin-top: -62vw;
    max-width: 100%;
  }

  .logo-header{
    width: 20vw;
  }

  .beheerBtn{
    margin-top: -2.5vw !important;
  }

  .blobCallContainer{
    margin: -20vw 0 0vw 8vw;
  }

  .blobCall{
    width: 70vw;
  }
  .actionCall{
    margin-top: -50vw;
    padding-left: 10vw;
  }

  .actionCall > h2{
    font-size: 22px;
  }

  .actionCall > h4{
    font-size: 16px;
  }

  .actionCall > a {
    width: 130px;
    font-size: 16px;
  }




  /*blok2*/




  .kaartBlobContainer{
    margin-top: 15vw;
  }
}

@media screen and (max-width: 430px){
  .headerGroen{
    margin-top: -25vw;
  }

}

@media screen and (max-width: 390px) {
  /*blok2*/

  .blok2beheer{
    text-align: center;
    margin-bottom: 15vw;
  }
}




@media screen and (max-width: 330px) {
  /*blok1*/

  .headerGroen{
    margin-top: -30vw;
  }

  .headerImage{
    height: 70vw;
  }

  .heading{
    margin-top: -67vw;
  }

}



