<div class="parent" >

  <div class="beheerHeader">
    <div class="headerGroen"></div>
    <div ><img class="golfGroen" src="assets/svg/golfNavbar-cropped.svg"></div>

    <div class="headerImageContainer">
      <img class="headerImage" src="assets/img/forestHeaderBeheer.jpg">

      <div class="heading">
        <img class="logo-header" src="assets/img/logoWIT.png">
        <h1 class="text-light mb-3">4Nature</h1>
        <h4 class="text-light">Let forests grow</h4>
        <div class="button-box col-lg-12">
          <a href="" class="btn text-light m-4 beheerBtn" role="button">Beheer mee</a>
        </div>
      </div>
    </div>

    <div class="headerGrijs"></div>

    <div class="blobCallContainer">
      <svg class="blobCall" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="10015.io"
           viewBox="58.05 63.07 369.01 307.84">
        <path fill="#255048"
              d="M385.5,302.5Q312,365,237,370.5Q162,376,94.5,308Q27,240,84.5,155Q142,70,244,63.5Q346,57,402.5,148.5Q459,240,385.5,302.5Z">
        </path>
      </svg>
      <div class="actionCall">
        <h2 class="text-light mb-3">Beheer mee</h2>
        <h4 class="text-light">Let forests grow</h4>
        <a  class="btn btn-primary">Meer lezen</a>
      </div>
    </div>


    <div><img class="golfGrijs" src="assets/svg/golfGrijs-cropped.svg"></div>
  </div>





    <div class="blok2beheer">
      <h2>
        Kies hier je stuk bos
      </h2>

      <h4>
        Slecht vanaf 1 euro per maand voor een particulier of 75 euro per maand voor een bedrijf
        kan je hier een stuk bos kiezen.
        4nature staat volledig in voor het beheer van het bos, voor jou zijn er geen bijkomende verantwoordelijkheden
      </h4>

      <div class="kaartBlobContainer">

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
             id="kaartBlob"
             viewBox="-16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
            </path>
          </g>
        </svg>

        <img src="assets/img/placeholderMap.png"/>

      </div>
    </div>



    <div class="blok3beheer row g-0">
      <div class="blok1BeheerInfoContainer col-lg-6">
        <div class="imageContainerBeheer">
          <img class="treeImage" src="assets/img/forest-02.png"/>
          <h2> 4Nature beheert</h2>
        </div>
        <h4>
          Je kiest zelf het bos welke oppervlakte je door ons wil laten beheren.
          Op die manier blijft de link tussen de financiële bijdrage
          en de gerealiseerde impact heel transparant en zichtbaar.
        </h4>
        <p>
          4nature Beheer heeft als taak het beheren van de bossen,
          het bewaken van het model en de financiering van dit beheer.
          Voor het beheren van de bossen werken we op huidig ogenblik samen met de Bosgroepen.
          Samen met hen bepalen we in onderlinge consensus het beheerplan op 24 jaar.
          Deze wordt opgedeeld in 4 cycli van 6 jaar waar we doelstellingen in het kader van biodiversiteit,
          co2-captatie, toegankelijkheid, drinkwater, circulaire economie en gezondheid nastreven.
          Jaarlijks wordt er geëvalueerd
          en beslist welke ingrepen er zullen uitgevoerd worden in functie van het desbetreffende perceel.
        </p>
      </div>

      <div class="blobContainerBeheer1 col-lg-6">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
             id="blobInfoBeheer1"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
            </path>
          </g>
        </svg>
        <img src="assets/img/nature-hand.jpg">
      </div>
      <a  class="btn">Beheer mee</a>
    </div>





    <div class="blok4">

      <h2>Medebeheerders aan het woord</h2>

      <div class="medeBlobContainer1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" id="blobMede1"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                    46,429.5,148Q491,250,423.5,341.5Z" fill="#768B7A">
            </path>
          </g>
        </svg>
      </div>


      <div class="row g-0 justify-content-center medeContainer">

        <div class="col-lg-4 d-flex justify-content-center">
          <div class="card col-12 col-lg-12 medeCard">
            <img src="assets/img/elderly-woman.jpg">
            <div class="card-body">
              <h4 class="card-title">Frank De Meulemeester</h4>
              <span>Op pensioen</span>
              <p class="card-text">" Ik ben trots dat ik deel ben van dit geweldig project "</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 d-flex justify-content-center">
          <div class="card col-12 col-lg-12 medeCard">
            <img src="assets/img/elderly-woman.jpg">
            <div class="card-body">
              <h4 class="card-title">Nancy Boswachter</h4>
              <span>Huismoeder</span>
              <p class="card-text">" Ik wil dat mijn kinderen nog een toekomst hebben "</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex justify-content-center">
          <div class="card col-12 col-lg-12  medeCard">
            <img src="assets/img/elderly-woman.jpg">
            <div class="card-body">
              <h4 class="card-title">Kenny Omega</h4>
              <span>Metser</span>
              <p class="card-text">" De mensen van 4Nature zijn professioneel, warm en daadkrachtig "</p>
            </div>
          </div>
        </div>
      </div>

      <div class="medeBlobContainer2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" id="blobMede2"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                    46,429.5,148Q491,250,423.5,341.5Z" fill="#255048">
            </path>
          </g>
        </svg>
      </div>


    </div>


    <app-footer></app-footer>
  </div>







