
/*dit id mag niet veranderd worden en moet hier blijven staan*/
#kaartBlob{
  height: 35vw;
}


/*blok 3*/



.blok3overOns{
  margin-top: 20vw;
  margin-bottom: 10vw;
}

.blok3overOnsTextContainer{
  text-align: center;
}


.blok3overOnsTextContainer > h2{
  margin-bottom: 3vw;
}

.blok3overOnsTextContainer > h4{
  padding-right: 10vw;
  padding-left: 10vw;
}

/*laak ik hier staan, omdat tekst altijd kan veranderen*/

.blobContainer >p{
  margin-left: 3vw;
  margin-top: -31.5vw;
  padding-right: 70vw;
  font-size: 1.2vw;
  letter-spacing: 1px;
  color: white;
}

.bosBrandFoto{
  width: 35vw;
  margin-top: -20vw;
  border-radius: 50px;
  position: center;
  z-index: 20;
}

.bosBrandFoto:hover{
  transform: scale(1.05);
  transition: 300ms;
}

.blobContainer2 > p{
  margin-right: 3vw;
  margin-top: -30vw;
  padding-left: 70vw;
  font-size: 1.2vw;
  letter-spacing: 1px;
  color: white;
}



