<div class="headerHome">
  <div class="parentHeader" >
    <div class="heading">
      <img class="logo-header" src="assets/img/logoWIT.png">
      <h1 class="text-light mb-3">4 Nature</h1>
      <h4 class="text-light">Let forests grow</h4>
      <div class="button-box col-lg-12">
        <a href="" class="btn text-light m-4 beheerBtn" role="button">Beheer mee</a>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="callToActionContainer">
    <div class="call-to-action-background">
      <div class="call-to-action">
        <h2>Beheer mee als bedrijf</h2>
      </div>
    </div>
    <div class="call-to-action-usp">
      <p>
        Je kiest zelf in welk bos welk oppervlakte je door ons wil laten beheren.
        Op die manier blijft de link tussen de financiële bijdrage
        en de gerealiseerde impact heel transparant en zichtbaar.
        <br>
        <br>
        Als bedrijf wil je natuurlijk dat jouw engagement niet onder de radar blijft en dat moet ook niet.
        Als je je inzet voor de natuur, dan is dat iets om over te praten zodat je hopelijk ook andere inspireert.
        Vanaf een bepaald engagement bekijken we samen met jou
        hoe we die communicatie kunnen optimaliseren voor maximale impact.
        Denk aan website, nieuwsbrieven, persberichten, visibiliteit op events, … Uiteraard steeds in samenspraak.
        <br>
        <br>
        Werknemers verbinden met de natuur door de handen uit de mouwen te steken.
        Dit is een teamversterkende dag/weekend waar een stukje
        bos onder handen wordt genomen in functie van boven vermelde thema’s.
      </p>
      <a href="" class="btn text-light m-4 beheerBtn2" role="button">Beheer mee</a>
    </div>
    <div class="call-to-action-background2">

    </div>
  </div>



  <div class="blok2bedrijf row ">
    <div class="blok1BedrijfInfoContainer col-lg-6">
      <div class="imageContainerBedrijf">
        <img class="treeImage" src="assets/img/forest-02.png"/>
        <h2> 4 nature beheert</h2>
      </div>
      <h4>
        De visie van 4Nature is het waarborgen en verhogen van de levenskwaliteit in België
        door kwaliteitsvolle natuur te creëren,
        uit te breiden en te beschermen via een duurzaam model waarbij alle stakeholders gebaat zijn.
      </h4>
      <p>
        Om deze bossen aan te kopen spreekt het 4Nature fonds investeerders aan.
        Deze krijgen op hun beurt evenredige activa terug voor de investering.
        In dit geval aandelen van het 4Nature-fonds
        waarvan de waarde 1 op 1 gelinkt is aan de waarde van de gronden in het fonds op dat moment.
        Op die manier hebben de investeerders een significante impact op hun levenskwaliteit
        en die van de volgende generatie(s)
        en kunnen ze zelfs een meerwaarde genereren indien de waarde van de gronden positief evolueert.
      </p>
    </div>

    <div class="blobContainerBedrijf1 col-lg-6">

      <div class="blobSVGcontainerGlobal blobSVGcontainerHoe">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="none" id="blobSvg2"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
            </path>
          </g>
        </svg>
      </div>

      <img src="assets/img/modern-office.jpg">
    </div>
    <a  class="btn">Beheer mee</a>
  </div>




  <div class="blok3bedrijf">
    <h2>
      De vele voordelen
    </h2>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
         id="voordelenBlob"
         viewBox="-16.89 67.44 352.71 384.06">
      <g transform="translate(-123, 19)">
        <path class="blob"
              d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
        </path>
      </g>
    </svg>

    <div class="container containerVoordelen">
      <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4">

        <div class="col mb-3">
          <div class="card cardVoordelen radius-15">
            <div class="card-body text-center">
              <div class="p-4 radius-15">
                <h1>Volledig aangewend voor percelen</h1>
                <h5 class="mb-0 mt-5"> Het beheer van de bossen situeert zich buiten het fonds.
                  De financiële middelen die investeerders ter beschikking stellen wordt volledig
                  aangewend om percelen te verwerven.
                  Normaliter staat de eigenaar in voor het beheer en de kosten hiervan.</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card cardVoordelen radius-15">
            <div class="card-body text-center">
              <div class="p-4 radius-15">
                <h1>Schaalvoordeel</h1>
                <h5 class="mb-0 mt-5">  Verder is er nog schaalvoordeel in het beheer,
                  verzekeringsdossiers, aankoop van materialen,
                  aankoop van plantgoed,…De bossen worden kwalitatief beter gemaakt zonder dat het u iets kost,
                  energie noch geld. Aangezien de kwaliteit van de bossen een parameter vormen
                  voor aankoop- en verkoopsprijs is dit een mooie meerwaarde van uw investering.</h5>
              </div>
            </div>
          </div>
        </div>


        <div class="col mb-3">
          <div class="card cardVoordelen radius-15">
            <div class="card-body text-center">
              <div class="p-4 radius-15">
                <h1>Schaarse bossen en investeringsportefeuille</h1>
                <h5 class="mb-0 mt-5">Bossen in België worden schaars
                  en we verwachten op lange termijn een stijgende marktprijs van de bossen.
                  De investeringsportefeuille is daarbij gespreid waardoor het risico wordt beperkt.</h5>
              </div>
            </div>
          </div>
        </div>


        <div class="col mb-3">
          <div class="card cardVoordelen radius-15">
            <div class="card-body text-center">
              <div class="p-4 radius-15">
                <h1>Vespreid risico</h1>
                <h5 class="mb-0 mt-5">De spreiding van het risico door het aankopen van verschillende bossen,
                  in verschillende regio’s.
                  Er wordt niet geïnvesteerd in 1 bos maar in een portefeuille van verschillen de bossen gelegen in België.
                  Dus er is niet 1 eigenaar van 1 bepaald stuk bos
                  maar alle aandeelhouders zijn eigenaar van een heel scala aan bossen.</h5>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>



  <div class="blok4bedrijf">
    <h2>De Tarieven</h2>
    <section class="pricing py-5">
      <div class="blobContainer">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" id="blobSvg"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#768B7A">
            </path>
          </g>
        </svg>
      </div>

      <div class="container prijsContainer">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4 prijsKolom">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5>Berk</h5>
                <h6 class="card-price text-center prijs">€75<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op de 4N website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner 4Nature website
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events
                  </li>
                </ul>
                <div class="d-grid">
                  <a href="" class="btn text-uppercase">Kopen</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-lg-4 prijsKolom">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5>Beuk</h5>
                <h6 class="card-price text-center prijs">€225<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op de 4N website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner 4Nature website
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>co2-compensatie (Visuals)
                  </li>
                </ul>
                <div class="d-grid">
                  <a href="" class="btn text-uppercase">Kopen</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->

          <div class="col-lg-4 prijsKolom">
            <div class="card">
              <div class="card-body">
                <h5>Eik</h5>
                <h6 class="card-price text-center prijs">€450<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">

                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op de 4N website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner 4Nature website
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>co2-compensatie (Visuals)
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Gepersonaliseerde content
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Op maat gemaakte evenement
                  </li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Extra zichtbaarheid op al onze events
                  </li>
                </ul>
                <div class="d-grid">
                  <a href="" class="btn text-uppercase">Kopen</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="blobContainer2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" id="blobSvg2"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#255048">
            </path>
          </g>
        </svg>
      </div>

    </section>
  </div>


  <div class="blok5bedrijf row g-0">
    <div class="blobContainerBedrijf5 col-lg-6">
      <div class="blobSVGcontainerBedrijf5">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
             id="blobInfoBedrijf5"
             viewBox="16.89 67.44 352.71 384.06">
          <g transform="translate(-123, 19)">
            <path class="blob"
                  d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
            </path>
          </g>
        </svg>
      </div>

      <img src="assets/img/forest5.jpg">
    </div>


    <div class="blok5BedrijfInfoContainer col-lg-6">
      <div class="imageContainerHoe">
        <img class="treeImage" src="assets/img/forest-02.png"/>
        <h2> Je kiest zelf</h2>
      </div>
      <h4>
        Je kiest zelf in welk bos welk oppervlakte je door ons wil laten beheren.
      </h4>
      <p>

        Op die manier blijft de link tussen de financiële bijdrage
        en de gerealiseerde impact heel transparant en zichtbaar.
        De financiering van het beheer van elke are bos is verbonden aan 1 partij,
        waardoor die beheerde oppervlakte zowel intern als extern gebruikt kan worden voor marcom doeleinden.
        Ons kwaliteitsvol beheer garandeert een positieve invloed hierop.
      </p>
    </div>

  </div>

  <div class="blok6bedrijf">

    <h2>Kies nu je stuk bos</h2>

    <div class="kaartBlobContainer">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
           id="kaartBlob"
           viewBox="-16.89 67.44 352.71 384.06">
        <g transform="translate(-123, 19)">
          <path class="blob"
                d="M423.5,341.5Q356,433,250.5,432.5Q145,432,120,341Q95,250,115,150.5Q135,51,251.5,48.5Q368,
                  46,429.5,148Q491,250,423.5,341.5Z" fill="#22502A">
          </path>
        </g>
      </svg>

      <img src="assets/img/placeholderMap.png"/>

    </div>
  </div>


  <app-footer></app-footer>
</div>
