

body{
  background-color: var(--background);
}


:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}

.navigatie{
  height: 10vw;
  margin-top: -30px;
}

.navigatie:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:  url("assets/svg/golfNavbar.svg");
  opacity: .8;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-nav{
  display: none;

}

.navbar-toggler{
  margin-bottom: 10px;
}

.nav-item{

}

.nav-link{
  color: white !important;
  font-weight: 600;
}

.navText{
  margin-top: -0.5vw;
  /*padding-bottom: 1.5em;*/
  /*padding-top: 2.5em;*/
}

.nav-link:hover{
  transform: scale(1.1);
  transition: 400ms;
}

.nav-link:active{
  color: var(--accent) !important;
}

.logoWit{
  margin-top: -1vw;
  /*margin-bottom: 10px;*/
}


@media screen and (min-width: 1721px){
  .logoWit{
    width: 35%;
    margin-top: -1.8vw;
  }

  .navText{
    /*margin-top: 30px;*/
  }
}

@media screen and (max-width: 1420px){
  .navigatie{
    height: 6.2em;
    margin-top: -10px;
  }
  .nav-item{
    font-size: 90%;
  }

  .logoWit{
    width: 35%;
  }

}

@media screen and (max-width: 991px){
  .navigatie{
    width: 40%;
    padding-top: 40px;
    z-index: 10;
  }

  .navigatie:before{
    background-image: none;
  }

  .navList{
    border-radius: 100px;
  }

  .nav-item{
    background-color: #255048;
    padding-top: 20px;
    margin: -5px;
  }

  .home-nav{
    display: initial;
    margin-top: 20px;
    border-radius: 50px 50px 0 0px;
  }
  .logo-nav{
    display: none;
  }

  .contact-nav{
    border-radius: 0 0px 50px 50px;
  }
}



@media screen and (max-width: 768px){
  .navigatie{
    background-image: none;
    width: 100%;
  }
}






/*voor de heading van home en bedrijven*/



.headerHome{
  background-image: url("assets/img/forestHeader.jpg");
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  z-index: -2;
  top: 0;
  left:0;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parentHeader{
  display:flex;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
}

.heading{
  text-align: center;
  margin-bottom: 7.5%;
}

.logo-header{
  width: 20%;
  margin-bottom: 20px;
}

.button-box {
  text-align:center;
  margin-top: 20px;
}

.beheerBtn{
  border-style: none;
  border-radius: 15px;
  color: white;
  width: 170px;
  opacity: 80%;
}

.logo-header:hover,.beheerBtn:hover ,.beheerBtn3:hover ,.beheerBtn2:hover, .vlaanderenImg:hover
,.hoeBtn:hover{
  transform: scale(1.1);
  transition: 400ms;
}

.beheerBtn{
  background-color: #22502A;
}

/*onder de header homepage en bedrijvenpage*/

.content {
  position: absolute;
  top: 100%;
  width: 100%;
}

.call-to-action-background{
  background-image: url("assets/svg/golfFooter-cropped.svg");
  background-repeat: repeat-y;
  white-space: break-spaces;
  display: inline-block;
  width: 100%;
  height: 8.5vw;
  position: relative;
  z-index: -1;
  /*margin-top: -7em;*/
  /*margin-bottom: -3vw;*/
  vertical-align: top;
  background-position: center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.callToActionContainer{
  margin-top: -5.5vw;
}

.call-to-action{
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.call-to-action > h2{
  font-size: 2.5vw;
  color: var(--background);
  padding-top: 2vw;
  text-align: center;
}


.call-to-action-usp{
  background-color: #22502A;
  align-content: center;
  z-index: 30;
  height: 100%;
  margin-top: -1vw;
  position: center;
  text-align: center;
}

.call-to-action-usp > p{
  color: var(--background);
  font-size: 1.2vw;
  text-align: center;
  letter-spacing: 1px;
  padding-left: 10em;
  padding-right: 10em;
  margin-bottom: 0;
}


.call-to-action-background2{
  background-image: url("assets/svg/golfNavbar-cropped.svg");
  background-repeat: repeat-y;
  white-space: break-spaces;
  display: inline-block;
  width: 100%;
  height: 9vw;
  position: relative;
  z-index: -1;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.beheerBtn2, .beheerBtn3, .hoeBtn, .nieuwsBtn{
  border-style: none;
  border-radius: 15px;
  color: var(--background);
  width: 250px;
  font-size: 18px;
  font-weight: 600;
}

.beheerBtn2{
  /*margin-top: 3em !important;*/
  background-color: var(--accent);
  /*margin-bottom: 10vw !important;*/
}

@media screen and (max-width: 991px){
  .call-to-action-usp > p{
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 576px){
  .callToActionContainer{
    margin-top: -15.5vw;
  }

  .call-to-action-background{
    height: 18.5vw;
  }

  .call-to-action-usp > p{
    padding-top: 10vw;
  }

  .call-to-action > h2, .blok2 > h2, .blok4 > h2{
    font-size: 8vw;
  }

  .call-to-action-usp > p{
    font-size: 4.2vw;
  }

  .beheerBtn2, .beheerBtn3, .hoeBtn, .nieuwsBtn{
    width: 170px;
    font-size: 16px;
  }
}


/*blok2 van beheer mee, blok 2 van hoe en blok3 bedrijven pagina, vlak onder de call to action header*/

.blok2bedrijf, .blok3beheer, .blok2hoe, .blok0hoe{
  width: 100%;
  text-align: left;
}

.blok1BedrijfInfoContainer, .blok1BeheerInfoContainer, .blok1HoeInfoContainer
, .blok0hoeInfoContainer{
  width: 40vw;
  margin-left: 4vw;
}


.imageContainerBedrijf, .imageContainerBeheer, .imageContainerHoe{
  flex-direction: row;
  align-items: flex-start;
  vertical-align: bottom;
  color: var(--background);
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.imageContainerBedrijf > h2, .imageContainerBeheer > h2, .blok2bedrijf > h2, .blok4 > h2,
.blok3bedrijf > h2, .blok2beheer > h2, .prijs, .blok4bedrijf > h2,  .blok5bedrijf > h2
,.blok1hoeText > h2, .imageContainerHoe > h2, .streefdoelenText > h2, .blok3overOnsTextContainer > h2
, .blok3partners > h2, .blok1Realisaties > h2, .blok2RealisatiesH2Container > h2
, .blok0hoeInfoContainer > h2, .eerstebBlokHoeTextContainer > h2{
  font-size: 3vw;
  color: var(--primaryGreen);
}

.imageContainerBedrijf > h2, .imageContainerBeheer > h2 , .imageContainerHoe > h2{
  display: flex;
  margin: 0;
  bottom: 0;
  left:  20%;
  position: absolute;
}

.blok1BedrijfInfoContainer > h4, .blok1BedrijfInfoContainer > p
, .blok1BeheerInfoContainer > h4, .blok1BeheerInfoContainer > p  {
  margin: 2vw 3vw 1vw 1vw;
}

.blok1BedrijfInfoContainer > h4, .blok1BeheerInfoContainer > h4
, .imageContainerBeheer > h4, .blok2beheer > h4, .blok5bedrijf > h4
, .blok0hoeInfoContainer > h4,
.blok1hoeText > h4, .blok1HoeInfoContainer > h4, .streefdoelenText > h4
, .partnerText, .ceo, .overOnsText, .blok3overOnsTextContainer > h4{
  color: var(--primaryBlue);
  font-size: 1.5vw;
}

.blok1BedrijfInfoContainer > p, .blok2bedrijf >p,
.blok1BeheerInfoContainer > p, .blok2beheer > p, .blok3beheer >p
,.pBlok0HoeInfoContainer, .blok1HoeInfoContainer > p, .quote
{
  font-size: 1.2vw;
}

.treeImage{
  height: 8vw;
}

.blobContainerBedrijf1, .blobContainerBeheer1{
  text-align: right;
  margin-top: 3vw;
  margin-bottom: 10vw;

}


.blok2bedrijf> a, .blok3beheer > a{
  width: 250px;
  left: 50%;
  margin: 0 auto;
  border-radius: 50px;
  color: #FFFFFF !important;
  background-color: var(--primaryBlue);
  border-style: none;
}



/*blobs aan rechter en linker kant homepagina, bedrijvenpagina en over ons pagina*/

#blobSvg, #blobSvg2{
  width: 40vw;
  height: 35vw;
}

.blobContainer2{
  text-align: right;
  margin-top: -10vw;
}


#blobSvg2{
  moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: -15vw;
  position: relative;
  z-index: -10;
}

.beheerBtn3, .hoeBtn{
  background-color: var(--primaryBlue);
  margin-top: 3vw;
}

/*kaart bos van beheer-mee en bedrijven*/


.blok2beheer > h2, .blok5bedrijf > h2{
  margin-bottom: 5vw;
}

.blok2beheer > h4, .blok5bedrijf > h4{
  width: 75vw;
  margin: 0 auto;
  left: 25%;
}

#kaartBlob{
  margin-top: 3vw;
  width: 80vw;
  height: 43vw;
  opacity: 40%;
  position: relative;
  z-index: -10;
}

.kaartBlobContainer > img{
  width: 65vw;
  margin-top: -40vw;
  position: relative;
  z-index: 10;
}




/*header overige paginas*/






.backGroundContainer2{
  padding:0;
  margin:0;
  z-index: -2;
  top: 0;
  left:0;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.backgroundGreen2{
  background-color: #22502A;
  height: 17vw;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
}

.heading2{
  padding-top: 7vw;
  text-align: center;
  margin-bottom: 7.5%;
  position: relative;
  z-index: 10;
}

.heading2 > h1{
  font-size: 3vw;
}

.logo-header2{
  width: 6vw;
  margin-bottom: 20px;
}


.backgroundGreen2 > h1{
  padding-top: 10vw;
  color: #FFFFFF;
  position: relative;
  z-index: 100;
}

.golfGroen2{
  background-image: url("assets/svg/golfNavbar.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 13vw;
  background-size: cover;
  position: relative;
  z-index: 0;

}


.headerBeheer2{
  background-image: url("assets/img/forestHeaderBeheer.jpg");
  width: 70%;
  height: 38vw;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}



/*iconbar*/




.icon-bar1 {
  border-radius: 0 60px 150px 0px;
  margin-top: 20vw;
}

.icon-bar1 > i {
  /*float: right;*/
  text-align: center;
  width: 15%;
  padding-top: 45px;
  padding-bottom: 45px;
  transition: all 0.3s ease;
  color: white;
  font-size: 2.6vw;

}

.icon-bar1 > i > p{
  font-size: 1.6vw;
  font-family: "Roboto", serif;
  margin-top: 20px;
}

.icon-bar1 > i:hover {
  transform: scale(0.9);
}



/*kaartstijl beheer-mee en partners*/



.medeCard, .partnerCard{
  width: 90%;
  border-radius: 100px;
  padding: 60px 0 60px 0px;
  opacity: 85%;
  text-align: center;
}



/*partners en over-ons blob met tekst*/



.blok2overOnsBlob1Container, .blok2partnersBlob1Container{
  text-align: center;
  margin-top: 20vw;
  margin-bottom: -25vw;
}


.blok2overOns, .blok2partners{
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: -33vw;
  margin-bottom: 10vw;
}

.overOnsText, .partnerText{
  padding: 5vw 5vw 0 5vw;
  font-weight: 500;
}



.partnerCard > img{
  border-radius: 50% 50% 40% 45% / 45% 60% 35% 45%;
  padding: 2vw 7vw 2vw 2vw;
  width: 25vw;
}

.mailHeader{
  color: var(--primaryGreen);
}



