:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}



/*blok2, de rest staat in styles.css, omdat deze component gedeeld wordt*/


.blok2bedrijf{
  margin-top: 8vw;
  margin-bottom: 1vw;
}

.blobContainerBedrijf1 > img{
  height: 24.75vw;
  width: 33vw;
  position: relative;
  z-index: 10;
  margin-top: 7vw;
  border-radius: 50px;
}

.blobSVGcontainerBedrijf1{
  margin-right: 33.497vw
}

#blobInfoBedrijf1{
  moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -10;
  margin-right: 6.83vw;
  height: 40vw;
  width: 40.33vw;
  position: absolute;
  max-height: inherit;
  max-width: inherit;
  box-sizing: border-box;
}


/*blok3*/


.blok3bedrijf{
  margin-top: 10vw;
  text-align: center;
}


#voordelenBlob{
  moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -10;
  height: 550px;
  width: 70vw;
  opacity: 40%;
  margin-bottom: -550px;
}


.tilesWrap {
  padding: 0;
  justify-content: center;
  list-style: none;
  text-align: center;
  display: flex;
  margin-top: 3vw;
}
.tilesWrap li {
  display: inline-block;
  width: 20vw;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  border-radius: 50px;
  height: 25vw;
  background-color: var(--primaryBlue);
  text-align: center;

}
.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: var(--background);
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: #b7b7b7;
  margin-top: 2vw;
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}


/*blok4*/

.blok4bedrijf{
  margin-top: 10vw;
  text-align: center;
  margin-bottom: 10vw;
}


.pricing .card {
  border: none;
  border-radius: 50px;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-right: 30px;
}

.pricing hr {
  margin: 1.5rem 0;
}


.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 1vw;
  color: var(--primaryGreen);
}

.fa-ul{
    height: 280px;
}


.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  width: 15vw;
  height: 40px;
  transition: all 0.2s;
  left: 25%;
  margin: 0 auto;
  display: inline-block;
  align-items: center;
  background-color: var(--primaryGreen);
  color: #FFFFFF;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}



/*blok4*/

.blobContainer{
  text-align: left;
  margin-bottom: -26vw;
}


/*blok5*/

.blok5bedrijf{
  text-align: center;
  margin-bottom: 15vw;
}
